

<!-- NAVBAR 2 -->
        <section>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main">

                                <h2 class="title">
                                    <br>
                                </h2>

                                <div>
                                    <div>
                                        <ul class="nav nav-tabs" role="tablist">

                                            <li>
                                                <a class="nav-link trans" data-toggle="tab" href="#home" title="Home">
                                                    <span class="icon">Home</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link active trans" data-toggle="tab" href="#products" title="Products">
                                                    <span class="icon">Products</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link trans" data-toggle="tab" href="#about" title="About">
                                                    <span class="icon">About</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link trans" data-toggle="tab" href="#contact" title="Contact">
                                                    <span class="icon">Contact</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>   
                                             <input type="search" placeholder="busca">                                                 
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content">

                                    <!-- HOME -->
                                    <div id="home" class=" tab-pane">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="combos_items">
                                                    <div class="row">
                                                     
                                                       <h1> Home </h1>
                                             
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END HOME -->

                                    <!-- PRODUCTS WITH NAVBAR 3-->
                                    <div id="products" class="tab-pane active">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="combos_items">
                                                    <div class="row">

                                                     <!-- NAVBAR 3 -->
                                                     <section class="contenido"> 

                                                        <div>
                                                          <ul class="tabs2-menu">
                                                            <!-- Apps -->
                                                            <li class="topnav">
                                                                <a href="#tab2-5"> 
                                                                         <span> Apps </span> 
                                                                </a>
                                                            </li>
                                                            <!-- Games -->
                                                            <li class="topnav">
                                                                <a href="#tab2-5"> 
                                                                         <span> Games </span> 
                                                                </a>
                                                            </li> 
                                                            <!-- Movies -->
                                                            <li class="topnav">
                                                                <a href="#tab2-5"> 
                                                                         <span> Movies </span> 
                                                                </a>
                                                            </li>
                                                            <!-- Books -->
                                                            <li class="topnav">
                                                                <a href="#tab2-5"> 
                                                                         <span> Books </span> 
                                                                </a>
                                                            </li>
                                                            <!-- Newspapers -->
                                                            <li class="topnav">
                                                                <a href="#tab2-5"> 
                                                                         <span> News </span> 
                                                                </a>
                                                            </li> 
                                                          </ul>
                                                        </div>

                                                        <!-- TEXT 2 -->
                                                        <div class="container2">
                                                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis explicabo, quia optio pariatur tempora architecto quisquam eaque dicta inventore quasi?</p>
                                                            <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae voluptas provident, vitae deleniti nostrum impedit asperiores architecto veritatis iste maxime!</p>
                                                        </div>
                                                        <!-- END TEXT 2 -->
                                                        
                                                        <!-- ESTRELLAS -->
                                                         <div class="container3" >
                                                              <div class="ec-stars-wrapper">
                                                                   <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                                                                   <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                                                                   <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                                                                   <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                                                                   <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                                                                   
                                                                </div>
                                                         </div>                                                                                                            
                                                       <!-- END ESTRELLAS -->

                                                     </section>
                                                      <!-- END NAVBAR 3 -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END PRODUCTS WITH NAVBAR 3-->

                                    <!-- ABOUT-->
                                    <div id="about" class=" tab-pane fade">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="combos_items">
                                                    <div class="row">
                                                     
                                                       <h1>About</h1>
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END ABOUT -->

                                    <!-- CONTACT -->
                                    <div id="contact" class=" tab-pane fade">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="combos_items">
                                                    <div class="row">
                                                     
                                                       <h1>Contact</h1>
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--END CONTACT-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

        </section>

<!-- END NAVBAR 2 -->
