
<!-- CSS -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum scale=1"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="main.css" rel="stylesheet" >

<!-- NAVBAR 1 -->
<div>

    <div class="topnav">
     <a href="#bub"><p>Home</p></a>
    </div>

    <div class="topnav">
       <a href="#bub"><p>Level1</p></a>
    </div>

    <div class="topnav">
       <a href="#bub"><p>Level2</p></a>
    </div>

    <div class="topnav">
       <a href="#bub"><p>Level3</p></a>
    </div>

    <div class="topnav">
       <a href="#bub"><p>Last</p></a>
    </div>

</div>
<!-- END NAVBAR 1 -->
