
<head>
  
    <link rel="stylesheet" href="/src/public/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <br>
   
   <!-- IMG 1 -->
   <div class="top_nav_img"> 
       <img src="https://i.ibb.co/G9014k3/513x80.jpg" alt="513x80" />
   </div>

     <br>
   <br>

   <!-- IMG 2 -->
   <div>
       <img src="https://i.ibb.co/cT9hpHS/Captura-de-pantalla-2021-05-24-a-las-15-01-50.png" alt="Captura-de-pantalla-2021-05-24-a-las-15-01-50" style="float: left;"  border="0">
   </div>
   
   <!-- TEXT 1 -->
   <div class="container2">
   
     <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis explicabo, quia optio pariatur tempora architecto quisquam eaque dicta inventore quasi?</p>
     <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae voluptas provident, vitae deleniti nostrum impedit asperiores architecto veritatis iste maxime!</p>
     <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem culpa velit libero quod ex hic rerum eius aliquid harum ipsam.</p>
     <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsa odio aperiam inventore rerum molestiae! Facilis porro veritatis beatae nihil.</p>
     <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero fuga iste provident quod quisquam cupiditate consequuntur numquam optio, nemo ab.</p>
     <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem culpa velit libero quod ex hic rerum eius aliquid harum ipsam.</p>
     <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsa odio aperiam inventore rerum molestiae! Facilis porro veritatis beatae nihil.</p>
     <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero fuga iste provident quod quisquam cupiditate consequuntur numquam optio, nemo ab.</p>
   
   </div>

</head>

