

<head>

    <%- include('parciales/cabecera.ejs'); %>

</head>

<body>

    <%- include('parciales/navegacion.ejs'); %>
  
    <%- include('parciales/cuerpo.ejs'); %>

    <%- include('parciales/cabecera2.ejs'); %>
    
</body>

